# Core ML & embeddings
torch
transformers
sentence-transformers

# Vector database
pinecone-client
pinecone

# LLMs
groq
langchain
langchain-community
langchain_huggingface
langchain_pinecone

# Utilities
pypdf   # for reading PDFs
tqdm    # progress bar
scikit-learn   # used by sentence-transformers
dotenv   # for loading environment variables
